<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav mr-auto d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                </li>
                <li class="divider"></li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Management</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/categories']"><i class="icon-puzzle"></i> Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/subcategories']"><i class="icon-puzzle"></i> SubCategories</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Business</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/allbusiness']"><i class="icon-puzzle"></i> All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/addbusiness']"><i class="icon-puzzle"></i> Add</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                <a class="btn btn-secondary" href="#"><i class="icon-logout" (click)="logout()"></i> &nbsp;Logout</a>
                </div>
            </li>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
