<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-block">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <form [formGroup]="loginForm" (submit)="authenticateAdmin(email, password)">
                <div class="input-group mb-3" [ngClass]="{'has-error': (loginForm.controls.email.errors && loginForm.controls.email.dirty), 'has-success': !loginForm.controls.email.errors}">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" name="email" formControlName="email" class="form-control" placeholder="Email" [(ngModel)]="email" >
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.dirty">This field is required</li>
                    <li *ngIf="(loginForm.controls.email.errors?.minlength && loginForm.controls.email.dirty || loginForm.controls.email.errors?.maxlength && loginForm.controls.email.dirty ) && loginForm.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</li>
                    <li *ngIf="loginForm.controls.email.errors?.validateEmail && loginForm.controls.email.dirty">This must be a valid e-mail</li>
                  </ul>
                </div>
                <div class="input-group mb-4" [ngClass]="{'has-error': (loginForm.controls.password.errors && loginForm.controls.password.dirty), 'has-success': !loginForm.controls.password.errors}">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" name="password" formControlName="password" class="form-control" placeholder="Password" [(ngModel)]="password" >
                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.dirty">This field is required</li>
                    <li *ngIf="loginForm.controls.password.errors?.minlength && loginForm.controls.password.dirty || loginForm.controls.password.errors?.maxlength && loginForm.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</li>
                    <li *ngIf="loginForm.controls.password.errors?.validatePassword && loginForm.controls.password.dirty">Password must be at least 8 characters but no more than 35</li>
                  </ul>
                </div>
                <div class="row">
                  <div class="col-6">
                    <input [disabled]="!loginForm.valid" type="submit" value="Submit" class="btn btn-primary px-4" />
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
